<template>
  <div class="container">
    <div>
      <img src="@/assets/trivia_image.png" alt="Logo of the trivia game" class="trivia-image">
    </div>

    <section class="difficulty">
      <label for="selectDifficulty">Select the difficulty of the questions:</label>
      <!-- Creates a dropdown menu with all the difficulties. -->
      <select v-model="selectedDifficulty" class="drop-box" id="selectDifficulty">
        <option v-for="option in difficulties" :key="option" class="drop-option">
          {{ option }}
        </option>
      </select>
    </section>


    <section>
      <label for="selectNumberOfGames">Select the number of questions you want (1-50):</label>
      <!-- The oninput in this input of type number sets the value to 50 if the input value is above it
      If the value of the input is lower than 1, it will be set to the default of 10 when you click start game-->
      <input type="number" v-model="selectedNumberOfGames"
             class="drop-box" id="selectNumberOfGames"
             min="1" max="50"
             oninput="this.value=(this.value > Number(this.max))  ? 50 : this.value">
    </section>

    <section class="category">
      <label for="selectCategory">Select which category you want:</label>
      <!-- Creates a dropdown menu with all the available categories. -->
      <select v-model="selectedCategory" class="drop-box" id="selectCategory">
        <option v-for="category in categories" :value="category.id" :key="category.id" class="drop-option">
          {{ category.name }}
        </option>
      </select>
    </section>

    <section>
      <button @click="startGame" class="play-button">Start game!</button>
    </section>

  </div>
</template>

<script>
export default {
  data() {
    return {
      // All the options for difficulty:
      difficulties: ["easy", "medium", "hard"],
      // Holds all the categories:
      categories: {},

      // Currently selected options:
      selectedNumberOfGames: "10",
      selectedDifficulty: "easy",
      selectedCategory: 9
    }
  },
  methods: {
    // Loads the game with the selected options through routing.
    startGame() {
      const numberOfGames = document.getElementById("selectNumberOfGames").value
      //If the user leaves the number of games blank or a number less than 1, it will default to 10.
      if(numberOfGames === '' || Number(numberOfGames)< 1){
        this.selectedNumberOfGames = '10'
      }
      this.$router.push({
        name: 'play',
        params: {
          selectedNumberOfGames: this.selectedNumberOfGames,
          selectedDifficulty: this.selectedDifficulty,
          selectedCategory: this.selectedCategory
        }
      })
    }
  },
  created() {
    // Fetch all the categories from the opentdb api and save them.
    fetch("https://opentdb.com/api_category.php")
        .then(response => response.json())
        .then(categories => this.categories = categories.trivia_categories)
        .catch(error => console.log(error))
  }
}
</script>

<style scoped>
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.trivia-image {
  width: 30em
}

section {
  margin: auto;
  width: 100%;
  padding: 1em 0;
}

.drop-box {
  width: 310px;
  height: 3em;
  border-radius: 1em;
  background-color: #09d796;
  border: 1px solid black;
  font-size: 14px;
  text-align-last: center;
}

.play-button {
  width: 20em;
  background-color: #09d796;
  border: 1px solid black;
  color: black;
  font-size: 30px;
  padding: 2em 4em;
  margin: 2em;
  border-radius: 1em;
}

button:focus {
  outline: none;
  background-color: #26e7e1;
}

option {
  background-color: #09d796;
}

label{
  display: block;
  font-size: x-large;
  font-weight: bold;
}
</style>