<template>
  <div class="nav-bar">
    <button @click="goHome">Start Screen</button>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  methods: {
    goHome() {
      this.$router.push({
        name: 'home'
      })
    }
  }
}
</script>

<style scoped>

.nav-bar{
  margin-bottom: 2em;
  background-color: #3e1f83;
  overflow: hidden;
}

.nav-bar button {
  float: left;
  border: black;
  background-color: #09d796;
  overflow: hidden;
  display: block;
  color: black;
  padding: 14px;
  font-size: 18px;
}

button:focus {
  outline: none;
  background-color: #26e7e1;
}

</style>