<template>
<div>
  <h1>You scored: {{points}} / {{totalPoints}} points!</h1>
  <div class="container">
  <table>
    <tr>
      <!--The table headers, leftmost being question, second being false or the first possible answer
       third being true or second possible answer and the last two being the last two answers respectively-->
      <th>Question</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
    <!--Creates a new row for every question in the array with the id as the index. The index is used to iterate
      through the answers for every question as well-->
    <tr class="question-and-answers-row" v-for="(question, index) of questions" :key="index" :id="index">
      <td class="question-box" v-html="question"></td>
      <td class="answer-box answer1-box" :id="'answer1'+index" v-html="answers[index][0]"></td>
      <td class="answer-box answer2-box" :id="'answer2'+index" v-html="answers[index][1]"></td>
      <!--Empty cell if question is a true or false-->
      <td class="answer-box answer3-box" :id="'answer3'+index" v-html="answers[index][2]"></td>
      <!--Empty cell if question is a true or false-->
      <td class="answer-box answer4-box" :id="'answer4'+index" v-html="answers[index][3]"></td>
    </tr>
  </table>
</div>
</div>
</template>

<script>
export default {
  name: "Result",
  /**
   * props sent from the game and their types
   */
  props: {
    //The answers for every questions
    answers: {
      type: Array
        },
    //What the user answered
    answered: {
      type: Array
    },
    //All the questions
    questions: {
      type: Array
    },
    //The correct answer for every question
    correctAnswers: {
      type: Array,
    }
  },
  created() {
    this.setPoints()
  },
  mounted() {
    this.setResult()
  },
  data(){
    return {
      points: 0,
      totalPoints: 0
    }
  },
  methods: {
    //Checks if the user answered the question correct
    checkCorrect(index){
      return this.answered[index] === this.correctAnswers[index]
    },
    //Sets the points for the game. User gets 10 points for every correct answer.
    setPoints(){
      this.totalPoints = this.answered.length * 10
      for (let i = 0; i < this.answered.length; i++) {
        if (this.checkCorrect(i)) {
          this.points += 10
        }
      }
    },
    /**
     * Sets the result screen with correct answers and what the user answered. If no red is highlighted, then the user
     * answered correct. The user's answers are colored red first, then the correct answers gets updated to green.
     */

    setResult() {
      this.setIncorrect()
      this.setCorrect()
    },
    /**
     * Sets the background color of the correct answer to green.
     */
    setCorrect(){
      for (let i = 0; i < this.correctAnswers.length; i++) {
        //The elements for the possible answers in the table
        const ans1 = document.getElementById('answer1' + i)
        const ans2 = document.getElementById('answer2' + i)
        const ans3 = document.getElementById('answer3' + i)
        const ans4 = document.getElementById('answer4' + i)

        //Checks every answer in a row and colors the background of the correct answer green and text white.
        if (this.answers[i][0] === this.correctAnswers[i]) {
          ans1.style.backgroundColor = 'green'
          ans1.style.color = 'white'
        }
        if (this.answers[i][1] === this.correctAnswers[i]) {
          ans2.style.backgroundColor = 'green'
          ans2.style.color = 'white'
        }
        if (this.answers[i][2] === this.correctAnswers[i]) {
          ans3.style.backgroundColor = 'green'
          ans3.style.color = 'white'
        }
        if(this.answers[i][3] === this.correctAnswers[i]) {
          ans4.style.backgroundColor = 'green'
          ans4.style.color = 'white'
        }
    }
  },
    //Checks every answer in a row and colors the background of the one the user answered red and text white.
    setIncorrect(){
      for (let i = 0; i < this.correctAnswers.length; i++) {
        const ans1 = document.getElementById('answer1' + i)
        const ans2 = document.getElementById('answer2' + i)
        const ans3 = document.getElementById('answer3' + i)
        const ans4 = document.getElementById('answer4' + i)
      if (this.answers[i][0] ===  this.answered[i]) {
        ans1.style.backgroundColor = 'red'
        ans1.style.color = 'white'
      }  if (this.answers[i][1] === this.answered[i]) {
          ans2.style.backgroundColor = 'red'
          ans2.style.color = 'white'
        }  if (this.answers[i][2] === this.answered[i]) {
          ans3.style.backgroundColor = 'red'
          ans3.style.color = 'white'
        } if(this.answers[i][3] === this.answered[i]) {
          ans4.style.backgroundColor = 'red'
          ans4.style.color = 'white'
        }}
  }}
}

</script>

<style scoped>

.container{
  display: grid;
  text-align: center;
}
.answer-box{
  border-bottom:0.1em solid black;
}
table{
  border-collapse: collapse;
  empty-cells: hide; /*Hides the empty cells (cells C and D) for true/false questions.*/
}
th{
  border-bottom: 0.2em solid black;
  font-size: 2em;
}
td{
  font-size: 1.5em;
  text-align: center;
  border-bottom: 0.1em solid black;
}
td:empty{
  border: none;
}
</style>