<template>
    <div class="container">
      <div class="grid">
        <div class="question-box">
          <!-- Uses the count data to display the correct question -->
          <h1 v-html="questions[count] "></h1>
        </div>
      <QuestionAnswers
          :answers="answersForCurrentQuestion"
          @answer-clicked="handleAnswerClicked"/>
      </div>
  </div>
</template>

<script>
import QuestionAnswers from "./QuestionAnswers";
import {fetchQuestions} from "./questionAPI";

export default {
  name: "Question",
  components: {QuestionAnswers},
  /**
   * Props received from the start screen to fetch the questions.
   */
  props: {
    selectedNumberOfGames: {type: String},
    selectedDifficulty: {type: String},
    selectedCategory: {type: Number}
  },
  created() {
    //Creates a constant fq that returns the results as a promise.
    const fq = fetchQuestions(this.selectedNumberOfGames, this.selectedDifficulty, this.selectedCategory)
        .then((questionObjects) => {
          if(questionObjects.response_code === 1) {
            alert("Response code 1 from API (probably not enough questions for the category).")
            this.$router.push({name: 'home'})
          }
          return this.questionObjects = questionObjects.results
        })
        .catch((error) => (this.error = error.message))
    //The next two lines need get all the questions and the correct answers from the created promise.
    fq.then((questions) => (this.questions = this.getAllQuestions(questions)))
    fq.then((correctAnswers) => (this.correctAnswers = this.getCorrectAnswers(correctAnswers)))
  },
  beforeUpdate() {
    //Before every update, the answers for the new question is set.
    this.answersForCurrentQuestion = this.setAnswersForCurrentQuestion(this.questionObjects[this.count])
  },
  data() {
    return {
      questionObjects: [], //The question objects
      questions: [], //The questions in the question objects
      error: "", //The error message if one occurs
      count: 0, //The current count to iterate through questions.
      answersForCurrentQuestion: [], //All the answers for the current question
      answers: [], //All the answers for every question
      answered: [], //What the user has answered for every question
      correctAnswers: [] //What the correct answer is for every question.
    };
  },
  methods: {
    handleAnswerClicked(answer) {
      this.answered.push(answer) //Pushes what the user answered to the answered array.
      this.answers.push(this.answersForCurrentQuestion) //Pushes all the answers for the question to the answers array.
      //If the count equals to the amount of question -1 then redirects the user to the result screen.
      //questions.length-1 because after 9 answered questions, the count will be 9, and on the tenth question it will
      //push the user to the next page.
      if (this.count === this.questions.length - 1) {
        this.$router.push({
          name: 'score',
          params: {
            correctAnswers: this.correctAnswers,
            answers: this.answers,
            answered: this.answered,
            questions: this.questions
          }
        })
        return
      }
      this.count++
    },
    //Sets the answers for the current question by returning an array consisting of all the correct and incorrect
    //answers and sorts them alphabetically. The question objects only have incorrect and correct answer.
    setAnswersForCurrentQuestion(json) {
      let answers = [...json.incorrect_answers]
      answers.push(json.correct_answer)
      answers.sort()
      return answers
    },
    //Get all the correct answers from the question objects.
    getCorrectAnswers(json) {
      let correct = []
      for (let i = 0; i < json.length; i++) {
        correct.push(json[i].correct_answer)
      }
      return correct
    },

    //Get all the questions from the question objects.
    getAllQuestions(json){
      let questions = []
      for (let i = 0; i < json.length; i++) {
        questions.push(json[i].question)
      }
      return questions
    }
  }
}

</script>

<style scoped>
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid{
  display: grid;
  text-align: center;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}
.question-box{
  display:flex;
  align-items: center;
  justify-content: center;
  border: 0.2em solid black;
  margin-bottom: 0.25em;
  background-color: #26e7e1;
}
h1{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background-color: transparent; /*Since the global background is set to a color, if the background of question-box
  is changed, then this one will have the same as question-box since it's transparent.*/
}

</style>