<template>
  <!-- Creates buttons for every possible answer for the question. Sends an event to the parent Question.vue -->
    <div class="answer-box">
      <button class="answer" v-for="answer in answers"
              :key="answer.index"
              @click="onAnswerClicked(answer)" v-html="answer">
      </button>
  </div>
</template>

<script>
export default {
  name: "QuestionAnswers",
  //All the answers are passed down from the parent Question.vue
  props:['answers'],
  methods: {
    onAnswerClicked(answer) {
      this.$emit('answer-clicked', answer)
    }
  }
}
</script>

<style scoped>
.answer-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.25em;
  grid-row-gap: 0.25em;
  width: 100%;
  height: 15em;
}

.answer{
  background-color: #09d796;
  font-size: 2em;

  border: 0.1em solid black;
}
</style>