<template>
  <div id="app">
    <Navbar/>
    <div id="inner">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar/Navbar";

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style>
* {
  background-color: #8b69cd;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-width: 60em; /*Sets the minimum width of the application before a horizontal scrollbar shows*/
}
#inner {
  position: absolute;
  left: 5em;
  width: calc(100% - 10em); /*Sets the width of the application to be dynamic to the user's screen.*/
  min-width: 50em; /*Sets the minimum width of the application before a horizontal scrollbar shows*/
}
body {
  margin:0;
}

</style>
